* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.details > .details__background {
    width: 100%;
    height: 50vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsBackground__detailsPhoto {
    border: 1px solid gray;
    border-radius: 10px;
    height: 40vh;
    width: 300px;
}

.detailsBackground__detailsInfo {
    border: 1px solid gray;
    border-radius: 10px;
    height: 30vh;
    width: 500px;
    margin-left: 20px;
}

.videos {
    margin: 100px;
}